[{:op "describe"}
 {:op "ls-sessions"}
 {:op "ls-middleware"}
 {:op "eval" :code "(+ 1 1)"}

 {:op "sniffer-status"}
 {:op "eval" :code ":gorilla/on"} ; this starts sniffing on this session / only option for IDE like vs-code, ..
 {:op "sniffer-source"}  ; this starts sniffing on this session

 ; this ops get forwarded
 {:op "eval"  :code "^:X (+ 2 2)"}
 {:op "eval"  :code "^:R [:p/vega (+ 8 8)]"}
 {:op "eval"  :code "^:U (time (reduce + (range 1e6)))"}

 {:op "eval"  :code ":gorilla/off"}
 {:op "eval"  :code "\"NO\""}
 {:op "eval"  :code ":gorilla/on"}
 {:op "eval"  :code "\"YES\""}

 ; evals inside notebook would have this flag. check if it works:
 {:op "eval" :as-picasso 1 :code "^:R [:p (+ 8 8)]"}]