{:lein {:profile "+cljs"}
 :source-paths ["src"]

 :nrepl {:port 12000
          ; optional list of namespace-qualified symbol
         :middleware ;  #pinkgorilla.nrepl.middleware.cider/cider-middleware
         [cider.nrepl/wrap-complete
          cider.nrepl/wrap-info
          cider.nrepl/wrap-stacktrace]}

 ; shadow dev http server settings
 :dev-http {8003 {:roots ["target/node_modules/public"  ;  css and png from selected npm dependencies
                          "target/demo/public" ; demo ui bundle
                          "profiles/demo/public" ; demo ui resources (html, data files)
                  ;"classpath:public" 
                  ;"classpath:resources"
                  ;"classpath:resources/public"
                          ]}}

 :builds {:demo {:target :browser
                 :output-dir "target/demo/public"
                 :asset-path "/"
                 :modules {:main {:entries [demo.app]}}
                 :devtools {:before-load demo.app/stop
                            :after-load demo.app/start}
                 :compiler-options {;; preferrably implicit by shadow-cljs compile/watch/release
                                                        ;; Beware: releasing :none not supported by shadow
                                                        ;; :optimizations   :none
                                   ;:optimizations   :simple
                                    :optimizations  :none}}

          :ci {:target :karma
               :output-to  "target/ci.js"
               :ns-regexp "-test$"}}}

