{:name "nrepl-middleware"
 :clj-require []
 :cljs-namespace [pinkgorilla.nrepl.kernel.kernel
                  pinkgorilla.nrepl.client.connection.sente]
 :cljs-bindings {}
 :cljs-ns-bindings {}
 :snippets []}
